# Build & Output
bin/
obj/
*.exe
*.dll
*.pdb
*.appx
*.appxbundle
*.msi
*.nupkg
*.snupkg
*.nuspec
*.vsix
*.ps1

# Visual Studio Cache & Settings
.vscode/
.vs/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# User-specific settings
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs & Temporary Files
*.log
*.tlog
*.tmp
*.cache
*.lock
*.pid
.ncrunch
*.coverage
coverage/